<div id="parent_popup_click1" class="modal" onclick="document.getElementById('parent_popup_click1').style.display='none';">
    <div class="modal-content">
        <a class="closess" title="Закрыть" onclick="document.getElementById('parent_popup_click1').style.display='none';">×</a>
        <p>Some text in the Modal..</p>
    </div>
</div>

<div class="bookPageContent border">
    <div class="imageAndCharacteristics border">
        <div class="imageContainer centerAlign border">
            <img src="{{ bookData.bookImage }}"
                alt="{{ bookData.name }}">
        </div>
        <div class="characteristicsContainer border">
            <ul>
                <li>
                    <b>Название: </b><a>{{ bookData.name }}</a>
                </li>
                <li>
                    <b>Автор: </b><a>{{ bookData.author }}</a>
                </li>
                <li>
                    <b>Количество страниц: </b><a>{{ bookData.pageCount }}</a>
                </li>
                <li>
                    <b>ISBN: </b><a>{{ bookData.isbn }}</a>
                </li>
                <li>
                    <div class="ratingBook">
                        <b>Рейтинг: </b>
                    </div>
                    <script type="text/javascript">
                        var rating = JSON.parse("{{ bookData.rating }}")
                        $('.ratingBook' ).raty({
                            readOnly:  true,
                            start:     0,
                            score: Number(rating)
                        });
                    </script>
                </li>
            </ul>
        </div>
    </div>
    <div class="amountAndDescription border">
        <div class="amountContainer border">
            <ul>
                <li>
                    <b>Количество</b>
                </li>
                <li>
                    <b>(взято/всего): </b>
                </li>
                <li>
                    <a>НЕ забудь взять из списка читающих/НЕ забудь взять из списка владеющих</a>
                </li>
            </ul>
        </div>
        <div class="descriptionContainer border">
            <ul>
                <li>
                    <b>Описание</b>
                </li>
                <li>
                    <a>{{ bookData.description }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{# links for "top\leftButtons.html.twig"
#}
