{% include "pageContent\\centralPanel\\notification\\bookPageNotification.html.twig" %}
<div class="book-page-content bold-blue-border">
    <div class="book-page-content__image-and-characteristics bold-blue-border">
        <div class="image-container center-align">
            <img class="image-container__book-image bold-blue-border" src="images/bookCardImages/{{ bookData.bookImage }}"
                alt="{{ bookData.name }}">
        </div>
        <div class="book-page-content__characteristics-container bold-blue-border">
            <ul>
                <li>
                    <b>Название: </b><a>{{ bookData.name }}</a>
                </li>
                <li>
                    <b>Автор: </b><a>{{ bookData.author }}</a>
                </li>
                <li>
                    <b>Количество страниц: </b><a>{{ bookData.pageCount }}</a>
                </li>
                <li>
                    <b>ISBN: </b><a>{{ bookData.isbn }}</a>
                </li>
                <li>
                    <div class="rating-book">
                        <b>Рейтинг: </b>
                    </div>
                    <script type="text/javascript">
                        var rating = JSON.parse("{{ bookData.rating }}")
                        $('.rating-book' ).raty({
                            readOnly:  true,
                            start:     0,
                            score: Number(rating)
                        });
                    </script>
                </li>
            </ul>
        </div>
    </div>
    <div class="book-page-content__amount-and-description bold-blue-border">
        <div class="amount-container bold-blue-border inline-block">
            <ul>
                <li>
                    <b>Количество</b>
                </li>
                <li>
                    <b>(взято/всего): </b>
                </li>
                <li>
                    <a>{{ readCount }}/{{ ownerCount }}</a>
                </li>
            </ul>
        </div>
        <div class="description-container bold-blue-border inline-block">
            <ul>
                <li>
                    <b>Описание</b>
                </li>
                <li>
                    <a>{{ bookData.description }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
