<div class="circulateBookForm">
    {% if bookData.books|length > 0 %}
    <table id="circulateBookGrid" class="display" cellspacing="2" border='1'>
        <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Рейтинг</th>
            {% if bookListName == "takenBooks" %}
                <th>Владелец</th>
            {% elseif bookListName == "applications" %}
                <th>Кто возьмёт</th>
            {% elseif bookListName == "givenBooks" %}
                <th>Кто взял</th>
            {% endif %}
            <th>Срок сдачи</th>
            <th>Опции</th>
        </tr>
        </thead>
        <tbody style='cursor:pointer;'>
        {% for i in 0..(bookData.books|length - 1) %}
            <tr>
                <td>{{ bookData.books[i].name }}</td>
                <td>{{ bookData.books[i].author }}</td>
                <td>
                    <div class="rating{{ i }} centerAlign"></div>
                    <script type="text/javascript">
                        var rating = JSON.parse("{{ bookData.books[i].rating }}")
                        $('.rating{{ i }}' ).raty({
                            readOnly:  true,
                            start:     0,
                            score: Number(rating)
                        });
                    </script>
                </td>
                <td>
                    <a href="{{ serverUrl }}userBookCatalog?bookListName=personalBooks&ownerName={{ bookData.users[i] }}"
                                              class="pure-menu-link">
                        {{ bookData.users[i] }}
                    </a>
                </td>
                <td>{{ bookData.deadlines[i] }}</td>
                <td>
                    <div class="circulateBookGrid_options">
                        {% if bookListName == "givenBooks" %}
                            <a href="{{ serverUrl }}circulationBooks?bookListName=givenBooks&ownerName={{ bookData.users[i] }}&delete={{ bookData.books[i].name }}&otherUser={{ bookData.users[i] }}"
                               class="pure-menu-link">
                                Удалить
                            </a>
                        {% elseif bookListName == "applications" %}
                            <a href="{{ serverUrl }}circulationBooks?bookListName=applications&ownerName={{ bookData.users[i] }}&accept={{ bookData.books[i].name }}&otherUser={{ bookData.users[i] }}"
                               class="pure-menu-link">
                                Принять
                            </a>
                            <div class="circulateBookGrid_options_delimiter"><b>,</b></div>
                            <a href="{{ serverUrl }}circulationBooks?bookListName=applications&ownerName={{ bookData.users[i] }}&delete={{ bookData.books[i].name }}&otherUser={{ bookData.users[i] }}"
                               class="pure-menu-link">
                                Отклонить
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <b>Таблица пуста</b>
    {% endif %}
</div>
{# links for "top\leftButtons.html.twig"
#}
