<div class="circulate-book-form">
    {% if bookData.books|length > 0 %}
    <table id="circulate-book-grid" class="display" cellspacing="2" border='1'>
        <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Рейтинг</th>
            {% if book_list_name == "taken_books" %}
                <th>Владелец</th>
            {% elseif book_list_name == "applications" %}
                <th>Кто возьмёт</th>
            {% elseif book_list_name == "given_books" %}
                <th>Кто взял</th>
            {% endif %}
            <th>Срок сдачи</th>
            {% if book_list_name != "taken_books" %}
                <th>Опции</th>
            {% endif %}
        </tr>
        </thead>
        <tbody style='cursor:pointer;'>
        {% for i in 0..(bookData.books|length - 1) %}
            <tr>
                <td>{{ bookData.books[i].name }}</td>
                <td>{{ bookData.books[i].author }}</td>
                <td>
                    <div class="rating{{ i }} center-align"></div>
                    <script type="text/javascript">
                        var rating = JSON.parse("{{ bookData.books[i].rating }}")
                        $('.rating{{ i }}' ).raty({
                            readOnly:  true,
                            start:     0,
                            score: Number(rating)
                        });
                    </script>
                </td>
                <td>
                    <a href="{{ serverUrl }}user_book_catalog?book_list_name=personal_books&owner_id={{ bookData.userId[i] }}"
                                              class="pure-menu-link">
                        {{ bookData.users[i] }}
                    </a>
                </td>
                <td>{{ bookData.deadlines[i] }}</td>
                {% if book_list_name != "taken_books" %}
                    <td>
                        <div class="circulate-book-grid-options">
                            {% if book_list_name == "givenBooks" %}
                                <a href="{{ serverUrl }}circulation_books?book_list_name=given_books&owner_id={{ bookData.userId[i] }}&delete={{ bookData.books[i].id }}&other_user={{ bookData.userId[i] }}"
                                   class="pure-menu-link">
                                    Удалить
                                </a>
                            {% elseif book_list_name == "applications" %}
                                <a href="{{ serverUrl }}circulation_books?book_list_name=applications&owner_id={{ bookData.userId[i] }}&accept={{ bookData.books[i].id }}&other_user={{ bookData.userId[i] }}"
                                   class="pure-menu-link">
                                    Принять
                                </a>
                                <div class="circulate-book-grid_options__delimiter"><b>,</b></div>
                                <a href="{{ serverUrl }}circulation_books?book_list_name=applications&owner_id={{ bookData.userId[i] }}&delete={{ bookData.books[i].id }}&other_user={{ bookData.userId[i] }}"
                                   class="pure-menu-link">
                                    Отклонить
                                </a>
                            {% endif %}
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <b>Таблица пуста</b>
    {% endif %}
</div>
{# links for "top\leftButtons.html.twig"
#}
