<div class="book-list">
    {% if (pageName == "book_list") %}
        <div class="book-list-title">{{ bookListTitle }}</div>
    {% endif %}
    <table class="book-grid" cellspacing="2" border='1'>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style='cursor:pointer;'>
        {% if bookCards|length > 0 %}
            {% set columnCount = 3 %}
            {% for i in 0..(bookCards|length - 1) %}
                {% if (i % (columnCount + 1)) == 0 %}
                    <tr>
                {% endif %}
                    <td>
                        <div class="book-grid_grid-cell">
                            <div class="book-grid_grid-cell__cart_container">
                                <div class="cart_container_book-cart bold-blue-border">
                                    <div class="book-cart__image-container center-align">
                                        <a href="{{ serverUrl }}book_page?book_id={{ bookCards[i].id }}">
                                            <img class="image-container_book-image bold-blue-border" src="{{ bookCards[i].bookImage }}"
                                                 alt="{{ bookCards[i].name }}"/>
                                        </a>

                                    </div>

                                    <div class="book-cart__name-str">
                                        <a href="{{ serverUrl }}book_page?book_id={{ bookCards[i].id }}">
                                            {{ bookCards[i].name }}
                                        </a>
                                    </div>

                                    <div class="rating{{ i }} center-align"></div>
                                    <script type="text/javascript">
                                        var rating = JSON.parse("{{ bookCards[i].rating }}")
                                        $('.rating{{ i }}' ).raty({
                                            readOnly:  true,
                                            start:     0,
                                            score: Number(rating)
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </td>
                {% if (i % (columnCount + 1)) == columnCount %}
                    </tr>
                {% endif %}

            {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
{# links for "top\leftButtons.html.twig"
#}
