<div class="bookList">
    {% if (pageName == "bookList") %}
        <div class="bookListTitle">{{ bookListTitle }}</div>
    {% endif %}
    <table class="bookGrid" cellspacing="2" border='1'>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style='cursor:pointer;'>
        {% if bookCards|length > 0 %}
            {% set columnCount = 3 %}
            {% for i in 0..(bookCards|length - 1) %}
                {% if (i % (columnCount + 1)) == 0 %}
                    <tr>
                {% endif %}
                    <td>
                        <div class="bookCart">
                            <div class="imageContainer">
                                <a href="{{ serverUrl }}bookPage?bookName={{ bookCards[i].name }}">
                                    <img class="bookImage" src="{{ bookCards[i].bookImage }}"
                                         alt="{{ bookCards[i].name }}"/>
                                </a>

                            </div>

                            <div class="nameStr">
                                <a href="{{ serverUrl }}bookPage?bookName={{ bookCards[i].name }}">
                                    {{ bookCards[i].name }}
                                </a>
                            </div>

                            <div class="rating{{ i }} centerAlign"></div>
                            <script type="text/javascript">
                                var rating = JSON.parse("{{ bookCards[i].rating }}")
                                $('.rating{{ i }}' ).raty({
                                    readOnly:  true,
                                    start:     0,
                                    score: Number(rating)
                                });
                            </script>
                        </div>
                    </td>
                {% if (i % (columnCount + 1)) == columnCount %}
                    </tr>
                {% endif %}

            {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
{# links for "top\leftButtons.html.twig"
#}
