<div class="container book-list">
    {% if (pageName == "book_list") %}
        <div class="book-list-title">
            <b>{{ bookListTitle }}</b>
        </div>
    {% endif %}
    <div class="row">
        {% if bookCards|length > 0 %}
            {% for i in 0..(bookCards|length - 1) %}
                <div class="col-4 col-md-auto book-grid_grid-cell center-align">
                    <div class="row book-grid_grid-cell__cart-container">
                        <div class="cart-container_book-cart">
                            {# % if pageName == "user_list" and (ownerId == currentUser.id) %}#}
                            <div class="book-cart__image-container center-align">
                                {% if pageName == "book_list" %}
                                    {% if currentUser.id == ownerId%}
                                        <a href="{{ serverUrl }}user_book_catalog?delete={{ bookCards[i].id }}&book_list_name={{ bookListName }}&owner_id={{ ownerId }}">
                                            <img class="image-container_delete-btn" src="images/delete.png"
                                                 alt="Удалить {{ bookCards[i].name }} из каталога"/>
                                        </a>
                                    {%  endif %}
                                {%  endif %}
                                <a href="{{ serverUrl }}book_page?book_id={{ bookCards[i].id }}">
                                    {% if bookCards[i].bookImage != null %}
                                        <img class="image-container_book-image " src="images/bookCardImages/{{ bookCards[i].bookImage }}"
                                             alt="{{ bookCards[i].name }}"/>
                                    {% else %}
                                        <img class="image-container_book-image " src="images/NoBook.png"
                                             alt="{{ bookCards[i].name }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="book-cart__name-str">
                                <a href="{{ serverUrl }}book_page?book_id={{ bookCards[i].id }}">
                                    {{ bookCards[i].name }}
                                </a>
                            </div>
                            <div class="rating{{ i }} center-align">
                                <script type="text/javascript">
                                    var rating = JSON.parse("{{ bookCards[i].rating }}")
                                    $('.rating{{ i }}' ).raty({
                                        readOnly:  true,
                                        start:     0,
                                        score: Number(rating)
                                    });
                                </script>
                            </div>
                            <a href="{{ serverUrl }}book_page?book_id={{ bookCards[i].id }}">
                                <input class="btn btn-info show-btn" value="Посмотреть"/>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
