<div class="bookList">
    <div class="bookListTitle">{{ bookListTitle }}</div>
    <p>bookList</p>

    <table class="bookGrid" cellspacing="2" border='1'>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style='cursor:pointer;'>
            {% for i in 0..(bookCards|length - 1) %}
                {# {% for bookCard in bookCards %} #}
                {% if (i % 3) == 0 %}
                    <tr>
                {% endif %}
                    <td>
                        <div class="bookCart">
                            <div class="imageContainer">
                                <img class="bookImage" src="{{ bookCards[i].bookImage }}"
                                     alt="{{ bookCards[i].name }}"/>
                            </div>

                            <div class="nameStr">
                                {{ bookCards[i].name }}
                            </div>

                            <div class="rating{{ i }} centerAlign"></div>
                            <script type="text/javascript">
                                var rating = JSON.parse("{{ bookCards[i].rating }}")
                                $('.rating{{ i }}' ).raty({
                                    readOnly:  true,
                                    start:     0,
                                    score: Number(rating)
                                });
                            </script>
                        </div>
                    </td>
                {% if (i % 3) == 0 %}
                    </tr>
                {% endif %}

            {% endfor %}
        </tbody>
    </table>

</div>
{# links for "top\leftButtons.html.twig"
#}
