<div class="search-fields line-height-top-panel center-align">
    {{ form_start(searchForm) }}
        {{ form_widget(searchForm.searchBtn) }}
        {{ form_widget(searchForm.searchTextField) }}
        {{ form_widget(searchForm.searchCategory) }}
    {{ form_end(searchForm) }}
</div>

