<div class="searchFields">

    {{ form_start(searchForm) }}
    {{ form_row(searchForm.searchTextField) }}
    {{ form_row(searchForm.searchCategory) }}
    {{ form_row(searchForm.searchBtn) }}

    {{ form_end(searchForm) }}

    {#
    <input type="submit" class="SearchBtn" value="Поиск">
    <input maxlength="25" size="40" placeholder="Вводить сюда">
    <select>
        <option selected="selected">Название</option>
        <option>Автор</option>
    </select>
    #}

</div>

