<div class="searchFields centerAlign">
    {{ form_start(searchForm) }}
        {{ form_widget(searchForm.searchBtn) }}
        {{ form_widget(searchForm.searchTextField) }}
        {{ form_widget(searchForm.searchCategory) }}
    {{ form_end(searchForm) }}
</div>

