<div class="book-lists brown-border lateral-element brown-text">
    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Списки книг</span>

        {% set bookListOwner = currentUserName %}
        {% if (pageName == "book_list") %}
            {% set bookListOwner = ownerName %}
        {% endif %}
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="{{ serverUrl }}user_book_catalog?book_list_name=favorite_books&owner_name={{ bookListOwner }}" class="pure-menu-link">
                    Любимые книги
                </a>
            </li>
            <li class="pure-menu-item">
                <a href="{{ serverUrl }}user_book_catalog?book_list_name=read_later&owner_name={{ bookListOwner }}" class="pure-menu-link">
                    Прочитать позже
                </a>
            </li>
            <li class="pure-menu-item">
                <a href="{{ serverUrl }}user_book_catalog?book_list_name=personal_books&owner_name={{ bookListOwner }}" class="pure-menu-link">
                    Личные книги
                </a>
            </li>
        </ul>
    </div>
</div>
{# links for "top\leftButtons.html.twig"
#}
